header{
    border: 1px solid blue;
    height: 50px;
    width: 100%;
}

main{
    border: 1px solid blue;
    height: 800px;
    width: 100%;
}

section.descrCatalogo{
    border: 1px solid blue;
}

section.descrCatalogo p:first-of-type{
    border: 1px solid blue;
    margin: 0; 
}

section.descrCatalogo h1{
    border: 1px solid blue;
    margin-bottom: 3rem;
}

section.descrCatalogo h1 a {
    cursor: pointer;
}

section.descrCatalogo h1 a i{
    border: 1px solid blue;
    color: rgb(208, 56, 101);
}

section.descrCatalogo .bookedLinkCont{
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

section.descrCatalogo .bookedLinkCont a{
    border: 1px solid #333333;
    padding: 10px;
    border-radius: 30px;
    display: block;
    color:#333333;
    text-decoration: none;
    background-color: azure;
}

section.descrCatalogo p:nth-of-type(2){
    border: 1px solid blue;
    margin: 0;
    margin-top: 2rem; 
}

section.descrCatalogo p:nth-of-type(3){
    border: 1px solid blue;
    margin: 0; 
    margin-top: 4rem;
}

section.descrCatalogo p:nth-of-type(3) a{
    border: 1px solid blue;
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

section.cardCatalogo{
    border: 1px solid blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section.cardCatalogo .cardCont{
    border: 1px solid blue;
    height: 70%;
    justify-content: space-evenly;
}

section.cardCatalogo .cardCont .oneCard{
    height: 300px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 8px 1px gainsboro;
}

section.cardCatalogo .cardCont .oneCard .imgCont{
    height: 50%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

section.cardCatalogo .cardCont .oneCard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section.cardCatalogo .cardCont .oneCard .cardDesc{
    height: 50%;
    width: 100%;
    padding: 0rem 1rem;
}

section.cardCatalogo .cardCont .oneCard .cardDesc p{
    margin: 0;
}

section.cardCatalogo .cardCont .oneCard .cardDesc p:first-of-type i:first-of-type{
    font-size: 0.7rem;
    color: rgb(208, 56, 101);
}

section.cardCatalogo .cardCont .oneCard .cardDesc p:first-of-type i:last-of-type{
    font-size: 0.7rem;
}

section.cardCatalogo .cardCont .oneCard .cardDesc p:first-of-type span{
    font-weight: 600;
    
}

section.cardCatalogo .cardCont .oneCard .cardDesc p:nth-last-of-type(2) i:last-of-type{
    font-size: 0.7rem;
}
